.result-h2 {
    padding: 0.9em 5em 0 5em;
}

.result-textarea {
    padding: 0 5em 0 5em;
    text-align: left;
    line-height: 2;
    text-indent: 4em;
    font-size: 18px;
    word-wrap: break-word;
}