.styled-select {
  font-family: 'Prata', serif;
  position: relative;
  border-bottom: solid 1px #888888;
  overflow: hidden;
  display: block;
  width: 20em;
  margin: auto;
  /* margin-top: 5vh; */
  font-size: 1.2em;
  /*use this to scale the select*/
  /* padding: 20px 20px 10px 20px; */
}

.styled-select select,
input {
  text-align: center;
  font-family: 'Prata', serif;
  width: 100%;
  font-size: .9em;
  height: 2em;
  margin: 0;
  background: rgb(0, 0, 27);
  /*IE Fallback*/
  background: rgba(0, 0, 27, 0);
  color: #888;
  /* color: white; */
  border: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
}

input {
  cursor: inherit;
  background: transparent;
  border: none;
}

.styled-select select option,
input {
  background-color: #fff;
}

/* .styled-select .select-button {
    background-color:#68696D;
    right:0; top:0;
    position:absolute;
    pointer-events:none; */
/*text-align: center; vertical-align: middle; */
/* width: 2em; height: 1.8em;
  } */

.styled-select .select-button .select-button-text {
  color: #fff;
  line-height: 1.8em;
  text-align: center;
  display: block;
}

.styled-select .select-button .select-button-text span,
input {
  font-size: 1em;
}


/* .small-arrow-down {
    width: 0; 	
    height: 0; 	 
    border-left: .4em solid transparent; 
    border-right: .4em solid transparent; 
    border-top: .4em solid #fff; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  } */

.lt-ie10 .styled-select {
  background: #fff;
  border: none;
}

.lt-ie10 .styled-select .select-button {
  display: none;
}

.label {
  display: block;
  margin-bottom: 1em;
}



/* ========= button ========= */
.step-button {
  margin-top: 2.5em;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;

  text-align: center;
  background: linear-gradient(0deg, rgba(255, 151, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
  line-height: 48px;
  padding: 0;
  border: none;
  font-weight: bold;
}

.step-button span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.step-button:before,
.step-button:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow:
    -7px -7px 20px 0px rgba(255, 255, 255, .9),
    -4px -4px 5px 0px rgba(255, 255, 255, .9),
    7px 7px 20px 0px rgba(0, 0, 0, .2),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
  transition: all 0.3s ease;
}

.step-button:before {
  height: 0%;
  width: 2px;
}

.step-button:after {
  width: 0%;
  height: 2px;
}

.step-button:hover {
  color: rgba(251, 75, 2, 1);
  background: white;
}

.step-button:hover:before {
  height: 100%;
}

.step-button:hover:after {
  width: 100%;
}

.step-button span:before,
.step-button span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow:
    -7px -7px 20px 0px rgba(255, 255, 255, .9),
    -4px -4px 5px 0px rgba(255, 255, 255, .9),
    7px 7px 20px 0px rgba(0, 0, 0, .2),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
  transition: all 0.3s ease;
}

.step-button span:before {
  width: 2px;
  height: 0%;
}

.step-button span:after {
  height: 2px;
  width: 0%;
}

.step-button span:hover:before {
  height: 100%;
}

.step-button span:hover:after {
  width: 100%;
}